<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Heat rating:</strong>
    <%= meal.heat_rating %>
  </p>

  <p>
    <strong>Cuisine type:</strong>
    <%= meal.cuisine_type %>
  </p>

  <p>
    <strong>Recency weight:</strong>
    <%= meal.recency_weight %>
  </p>

</div>
